---
layout: default
---
<div id="page-title">
  <h2 class="container">
	  {{ page.title }}
  </h2>
</div>
{% include breadcrumbs.html %}
<div id="content-main">
  <div class="container">
    <div class="col-md-8 scroll">
      {% for post in site.categories.[page.category] %}
      <div class="blog-post" itemscope itemtype="http://schema.org/Blog">
			  {% if post.image == '' or post.image == nil %}
			  {% else %}
			  <center><img src="{{ site.url }}{{ post.image }}" alt="{{ post.title }}" width="50%" itemprop="image" ></center>
			  {% endif %}
			<h3 itemprop="about"><a href="{{ site.url }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h3>
			  {{ post.description }}
			  <br />
			  <br />
			<a href="{{ site.url }}{{ post.url }}" class="read-more" itemprop="url">Read More <i class="fa fa-arrow-circle-right"></i></a>
		</div>
		  {% endfor %}
    </div>
    <aside class="col-md-4">
		{{% include sidebar.html %}}
    </aside>
  </div>
</div>