---
layout: default
---
<div id="page-title">
  <h2 class="container">
	  {{ page.title }}
  </h2>
</div>
  {% include breadcrumbs.html %}
  <!-- End Blog Bread Crumbs -->
    <div id="content-main">
      <div class="container" id="portfolio-grid">
          {% for post in site.categories.[page.category] %}
            <div class="portfolio-item">

        <div class="portfolio-img">
            <a href="{{ post.item-url }}" target="blank">
                <img src="{{ site.url }}{{ post.image }}" alt="{{ post.title }}" >
            </a>
        </div>

        <div class="portfolio-content">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
        </div>
            </div>
          {% endfor %}
      </div>
    </div>