---
layout: default
---

<div id="page-title">
  <h2 class="container">
	  {{ page.title }}
  </h2>
</div>
{% include breadcrumbs.html %}
<div id="content-main" class="blog-post-page">
  <div class="container">
    <div class="col-md-8">
        <center><img src="{{ site.url}}{{ page.image }}" alt="{{ page.title }}"></center>
		<article>{{ content }}</article>
		<div id="disqus_thread"></div>
    </div>
    <div class="col-md-4">
		<h3>Share This Content</h3>
		<a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url}}" target="_blank" class="share"><i class="fa fa-facebook-official"></i></a> 
		<a href="http://www.twitter.com/share?url={{ site.url }}{{page.url}}" target="_blank" class="share"><i class="fa fa-twitter-square"></i></a>
		<a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{page.url}}" target="_blank" class="share"><i class="fa fa-linkedin-square"></i></a>
  </div>
</div>
