---
layout: default
---

<div id="page-title" itemscope itemtype="http://schema.org/Blog">
  <h2 class="container" itemprop="headline">
	  {{ page.title }}
  </h2>
	
</div>
{% include breadcrumbs.html %}
<div id="content-main" class="blog-post-page" itemscope itemtype="http://schema.org/Blog">
  <div class="container">
    <div class="col-md-8">
		<p intemprop="datePublished">Posted: {{ page.date | date: '%B %d, %Y' }}</p>
        <center><img src="{{ site.url}}{{ page.image }}" alt="{{ page.title }}" itemprop="image"></center>
		<article itemprop="text">{{ content }}</article>
		<div id="disqus_thread"></div>
    </div>
    <div class="col-md-4">
		<h3>Share This Content</h3>
		<a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url}}" target="_blank" class="share"><i class="fa fa-facebook-official"></i></a> 
		<a href="http://www.twitter.com/share?url={{ site.url }}{{page.url}}" target="_blank" class="share"><i class="fa fa-twitter-square"></i></a>
		<a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{page.url}}" target="_blank" class="share"><i class="fa fa-linkedin-square"></i></a>
  </div>
</div>
